.RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsPrevArrowDisabled, .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsNextArrowDisabled {
    filter: alpha(opacity=40);
    opacity: .4;
}

.RadTabStrip_FlyCnRed_Rad {
    color: #757575;
    font: normal 13px/22px Arial,Helvetica,sans-serif;
    line-height: 26px;
}

    .RadTabStrip_FlyCnRed_Rad .rtsGhostTab {
        border-color: #d6d6d6;
        color: #757575;
        background-color: #e3e3e3;
    }

    .RadTabStrip_FlyCnRed_Rad .rtsLevel1 {
        border-radius: 9px 9px 0 0;
        background: #9bc4ae url('Common/radGradientDarkV50.png') 0 0 repeat-x;
        _background-image: none;
        background-image: -webkit-linear-gradient(top,#b8dece 0,#9bc4ae 100%);
        background-image: -moz-linear-gradient(top,#b8dece 0,#9bc4ae 100%);
        background-image: -ms-linear-gradient(top,#b8dece 0,#9bc4ae 100%);
        background-image: -o-linear-gradient(top,#b8dece 0,#9bc4ae 100%);
        background-image: linear-gradient(top,#b8dece 0,#9bc4ae 100%);
    }

    .RadTabStrip_FlyCnRed_Rad .rtsLevel2 {
        padding-top: 0;
        border-radius: 3px;
        color: #ffffff;
        background: #688c7b;
    }

    .RadTabStrip_FlyCnRed_Rad .rtsLevel3 {
        padding-top: 0;
        border-radius: 3px;
        color: #ffffff;
        background: #688c7b;
    }

    .RadTabStrip_FlyCnRed_Rad .rtsDisabled {
        opacity: .5;
    }

        .RadTabStrip_FlyCnRed_Rad .rtsDisabled .rtsTxt {
            -ms-filter: "alpha(opacity=50)";
            filter: alpha(opacity=50);
        }

    .RadTabStrip_FlyCnRed_Rad .rtsLevel1 {
        font-size: 15px;
    }

        .RadTabStrip_FlyCnRed_Rad .rtsLevel1 .rtsLink {
            padding-top: 5px;
            padding-bottom: 5px;
            border-left: 1px solid #b4dec5;
            border-right: 1px solid #8ac2b3;
            color: #333333;
            text-shadow: 0 1px rgba(255,255,255,0.3);
            background-position: 0 0;
        }

            .RadTabStrip_FlyCnRed_Rad .rtsLevel1 .rtsLink:hover {
                color: #ffffff;
                text-shadow: 0 -1px rgba(0,0,0,0.3);
                background: #7ca38e url('Common/radGradientDarkV50.png') 0 0 repeat-x;
                _background-image: none;
                background-image: -webkit-linear-gradient(top,#8db59f 0,#7ca38e 100%);
                background-image: -moz-linear-gradient(top,#8db59f 0,#7ca38e 100%);
                background-image: -ms-linear-gradient(top,#8db59f 0,#7ca38e 100%);
                background-image: -o-linear-gradient(top,#8db59f 0,#7ca38e 100%);
                background-image: linear-gradient(top,#8db59f 0,#7ca38e 100%);
            }

        .RadTabStrip_FlyCnRed_Rad .rtsLevel1 .rtsSelected, .RadTabStrip_FlyCnRed_Rad .rtsLevel1 .rtsSelected:hover {
            color: #ffffff;
            text-shadow: 0 -1px rgba(0,0,0,0.3);
            background: #688c7a url('Common/radGradientDarkV50.png') 0 0 repeat-x;
            _background-image: none;
            background-image: -webkit-linear-gradient(top,#5c806f 0,#688c7a 100%);
            background-image: -moz-linear-gradient(top,#5c806f 0,#688c7a 100%);
            background-image: -ms-linear-gradient(top,#5c806f 0,#688c7a 100%);
            background-image: -o-linear-gradient(top,#5c806f 0,#688c7a 100%);
            background-image: linear-gradient(top,#5c806f 0,#688c7a 100%);
            box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
        }

        .RadTabStrip_FlyCnRed_Rad .rtsLevel1 .rtsDisabled, .RadTabStrip_FlyCnRed_Rad .rtsLevel1 .rtsDisabled:hover {
            color: #333333;
            text-shadow: 0 1px rgba(255,255,255,0.3);
            background: transparent;
        }

        .RadTabStrip_FlyCnRed_Rad .rtsLevel1 .rtsFirst .rtsLink {
            border-left: 0;
        }

        .RadTabStrip_FlyCnRed_Rad .rtsLevel1 .rtsLast .rtsLink {
            border-right: 0;
        }

        .RadTabStrip_FlyCnRed_Rad .rtsLevel1 .rtsNextArrow, .RadTabStrip_FlyCnRed_Rad .rtsLevel1 .rtsPrevArrow, .RadTabStrip_FlyCnRed_Rad .rtsLevel1 .rtsPrevArrowDisabled, .RadTabStrip_FlyCnRed_Rad .rtsLevel1 .rtsNextArrowDisabled {
            margin-top: 8px;
        }

    .RadTabStrip_FlyCnRed_Rad .rtsLevel2 .rtsLink {
        padding-top: 5px;
        padding-bottom: 5px;
        color: #ffffff;
        text-shadow: 0 -1px rgba(0,0,0,0.3);
    }

        .RadTabStrip_FlyCnRed_Rad .rtsLevel2 .rtsLink:hover {
            text-decoration: underline;
        }

    .RadTabStrip_FlyCnRed_Rad .rtsLevel2 .rtsSelected, .RadTabStrip_FlyCnRed_Rad .rtsLevel2 .rtsSelected:hover {
        background: #7ca38e;
    }

    .RadTabStrip_FlyCnRed_Rad .rtsLevel3 .rtsLink {
        padding-top: 5px;
        padding-bottom: 5px;
        color: #ffffff;
        text-shadow: 0 -1px rgba(0,0,0,0.3);
    }

        .RadTabStrip_FlyCnRed_Rad .rtsLevel3 .rtsLink:hover {
            text-decoration: underline;
        }

    .RadTabStrip_FlyCnRed_Rad .rtsLevel3 .rtsSelected, .RadTabStrip_FlyCnRed_Rad .rtsLevel3 .rtsSelected:hover {
        background: #7ca38e;
    }

    .RadTabStrip_FlyCnRed_Rad .rtsScroll {
        height: 36px;
    }

    .RadTabStrip_FlyCnRed_Rad .rtsNextArrow, .RadTabStrip_FlyCnRed_Rad .rtsPrevArrow, .RadTabStrip_FlyCnRed_Rad .rtsPrevArrowDisabled, .RadTabStrip_FlyCnRed_Rad .rtsNextArrowDisabled {
        margin: 0!important;
        height: 100%;
        background-color: #e3e3e3;
        background-image: url('Common/radActionsSprite.png');
        background-repeat: no-repeat;
    }

    .RadTabStrip_FlyCnRed_Rad .rtsNextArrow {
        background-position: -16px -157px;
    }

        .RadTabStrip_FlyCnRed_Rad .rtsNextArrow:hover {
            background-color: #949494;
            background-position: -66px -157px;
        }

    .RadTabStrip_FlyCnRed_Rad .rtsNextArrowDisabled, .RadTabStrip_FlyCnRed_Rad .rtsNextArrowDisabled:hover {
        background-position: -16px -157px;
        opacity: .5;
    }

    .RadTabStrip_FlyCnRed_Rad .rtsPrevArrow {
        background-position: -16px -107px;
    }

        .RadTabStrip_FlyCnRed_Rad .rtsPrevArrow:hover {
            background-color: #949494;
            background-position: -66px -107px;
        }

    .RadTabStrip_FlyCnRed_Rad .rtsPrevArrowDisabled, .RadTabStrip_FlyCnRed_Rad .rtsPrevArrowDisabled:hover {
        background-position: -16px -107px;
        opacity: .5;
    }

    .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsLevel1 .rtsLink {
        border-left: none;
        border-right: 0;
        border-top: 1px solid #8ac2b3;
        border-bottom: 1px solid #b4dec5;
    }

    .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsLevel1 .rtsFirst .rtsLink {
        border-top: 0;
    }

    .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsLevel1 .rtsLast .rtsLink {
        border-bottom: 0;
    }

    .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsNextArrow, .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsPrevArrow, .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsPrevArrowDisabled, .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsNextArrowDisabled {
        height: 18px;
    }

    .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsPrevArrow {
        background-position: -16px -16px;
    }

    .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsNextArrow {
        background-position: -16px -66px;
    }

    .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsPrevArrowDisabled {
        background-position: -16px -16px;
    }

    .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsNextArrowDisabled {
        background-position: -16px -66px;
    }

    .RadTabStrip_FlyCnRed_Rad.RadTabStripVertical .rtsScroll {
        height: auto;
    }

.RadTabStripTop_FlyCnRed_Rad .rtsLevel1:not(.rtsCenter):not(.rtsRight) .rtsFirst .rtsLink.rtsSelected, .RadTabStripTop_FlyCnRed_Rad .rtsLevel1:not(.rtsCenter):not(.rtsRight) .rtsFirst .rtsLink:hover {
    border-radius: 3px 0 0 3px;
}

.RadTabStripTop_FlyCnRed_Rad .rtsLevel1:not(.rtsCenter) .rtsLast .rtsLink.rtsSelected, .RadTabStripTop_FlyCnRed_Rad .rtsLevel1:not(.rtsCenter) .rtsLast .rtsLink:hover {
    border-radius: 0 3px 3px 0;
}

html .RadTabStrip_FlyCnRed_Rad_disabled .rtsTxt {
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
}

html .RadTabStrip_FlyCnRed_Rad_disabled .rtsLevel1 .rtsLink {
    color: #8c8c8c;
    cursor: default;
}

    html .RadTabStrip_FlyCnRed_Rad_disabled .rtsLevel1 .rtsLink:hover {
        color: #8c8c8c;
        background: transparent;
        background-image: none;
        color: #8c8c8c;
        font-weight: normal;
        text-shadow: 0 1px rgba(255,255,255,0.3);
        -webkit-text-shadow: 0 1px rgba(255,255,255,0.3);
    }

html .RadTabStrip_FlyCnRed_Rad_disabled .rtsDisabled {
    opacity: 1;
}

.rtsDropClue_FlyCnRed_Rad {
    width: 16px;
    height: 16px;
    background-image: url('Common/radActionsSprite.png');
}

.rtsDropClueTop_FlyCnRed_Rad {
    margin-top: -16px;
    margin-left: -8px;
    background-position: -17px -67px;
}

.rtsDropClueRight_FlyCnRed_Rad {
    margin-top: -8px;
    background-position: -17px -117px;
}

.rtsDropClueBottom_FlyCnRed_Rad {
    margin-left: -8px;
    background-position: -17px -17px;
}

.rtsDropClueLeft_FlyCnRed_Rad {
    margin-top: -8px;
    margin-left: -16px;
    background-position: -17px -167px;
}
